/*Reset inicial para padronizar o comportamento dos diferentes navegadores */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input,
button,
textarea,
select {
    font: inherit;
    border: none;
    outline: none;
    background: none;
}



/* Seção 1: Caixa de pesquisa centralizada exibida inicialmente */
#bloco-central {
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#busca-search-box {
    width: 500px;
    height: 50px;
    font-size: 20px;
    border: 2px rgb(67, 68, 66) solid;
    border-radius: 10px;
    text-align: center;
}

#busca-search-button {
    margin-left: 10px;
    padding: 10px;
    color: white;
    border: 2px rgb(161, 221, 20) solid;
    background-color: rgb(47, 103, 187);
    font-size: 20px;
    width: auto;
    height: 50px;
    border-radius: 10px;
}






































/* Seção 2: Seção principal que vai ficar oculta inicialmente */



#resultado{
    display:none;
}


/* SEÇÃO DO CABEÇALHO */
#header-resultado,
#header-busca {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    height: auto;
    background-color: rgba(15, 110, 252, 0.753);
    padding: 10px 30px 10px 30px;
}

.header-logo {
    background-color: yellow;
    height: auto;
    width: 200px;
}

.header-search {
    display: grid;
    height: auto;
    align-items: center;
}

.header-search p {
    color: rgb(253, 253, 253);
    font-size: 20px;
    margin: 0 0 5px 0;
    text-align: center;
}

.header-search-box {
    background-color: white;
}

    






/*   SEÇÃO DO MAIN*/

/* COMPONENTE 1 - TABELA DA PREVISÃO */
/* Define as dimensões do container principal */
#main-container {
    width:fit-content;
    margin:auto;
    display:grid;
   
    
}


/* Define dimensões do container box-A dentro do main-container */


h1{
    color:rgb(0, 0, 0);
    font-size:auto;
    width: 900px;
    text-align: justify;
    text-align-last:justify;
    margin:auto;
    margin-top:100px;
    margin-bottom:50px;
}


/* Define dimensões do container box-B dentro do main-container */
.box-B {
    display: flex;
    flex-wrap: wrap;
    width: 900px;
}


/* Define o layout padrão dos blocos de cada dia da semana */
.tabela {
    display: grid;
    border-right:1px solid rgb(168, 165, 165);    
    width:120px;
    justify-content: center;    
    height: auto;
    padding:0px;
    border: solid 1px black;        
}

.dia-semana{
    background-color:rgb(77, 115, 240);
    width: 120px;
    text-align: center;
    font-size:25px;
    color:white;
    margin:0;
    margin-bottom:15px;
    padding:5px 15px 5px 15px;    
    border: solid 1px black;
}


.dia-mes{
    text-align:center;
    font-size:18px;
    font-weight:600;
    margin-bottom:15px;
}
    
.icone-clima{
    width:70px;
    height:70px;
}


.dia {
    max-width: 100%;
    text-align:center;

}





.temp-max-min{
    display:flex;
    justify-content: space-between;
    max-width: 100%;
}

.temp-max,
.seta-max{
    margin-right:8px;
    color:red;
    font-weight: 700;
}


















#busca {
}

.main {
}

.dia-semana {
}

.dia-mes {
}

.graus {
}

.temp-min {
}

#footer {
}

.footer-links {
}

.footer-link {
}

@media (max-width: 1024px) {
}

@media (max-width: 768px) {
}

@media (max-width: 480px) {
}
