
/*Define as dimensões do container principal*/
.main-container{
    border: 1px black solid;
    margin:15% 20% 15% 20%
}



/* Define dimensões do container box-A dentro do main-container */
.box-A{
     border: 1px black solid;
}



/* Define as dimensões do container box-B dentro do main-container */
.box-B{
    display:flex; 
    justify-content: space-between;
    border: 1px black solid;
}



/* Define o layout padrão dos blocos de cada dia da semana */
.box-seg,.box-ter,
.box-qua,.box-qui,
.box-sex, .box-sab,
.box-dom{

     display:flex;
     border: 1px black solid;
     width:100px;
     height:250px;   
     padding:5px;  
     justify-content:center;
}



/* Segunda-feira */
.img-seg{
    width:80px;
    height:80px;
}
.img-seg img {
    width:100%;
    height: auto;    
}


/* Terça-feira */
.img-ter{
    width:80px;
    height:80px;
}
.img-ter img {
    width:100%;
    height:auto;
}


/* Quarta-feira */
.img-qua{
    width:80px;
    height:80px;
}
.img-qua img {
    width:100%;
    height:auto;
}


/* Quinta-feira */
.img-qui{
    width:80px;
    height:80px;
}
.img-qui img {
    width:100%;
    height:auto;
}


/* Sexta-feira */
.img-sex{
    width:80px;
    height:80px;
}
.img-sex img {
    width:100%;
    height:auto;
}


/* Sábado */
.img-sab{
    width:80px;
    height:80px;
}
.img-sab img {
    width:100%;
    height:auto;
}


/* Domingo */
.img-dom{
    width:80px;
    height:80px;
}
.img-dom img {
    width:100%;
    height:auto;
}